.game-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.game-page .btn-primary {
  margin-top: 8px;
}

@media screen and ( min-width : 650px ) {

  .game-page {
    max-width: 680px;
  }
}
